
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<p>Phòng chỉ có tối đa 3 người</p>
<p>Không thể đặt thêm</p>

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>

